<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <script src="../js/contact.js"></script>
 <link rel="stylesheet" href="../css/contact.css">
 <script src="../js/main.js"></script>
 <title>Contact me</title>
 <style>
 
 </style>
</head>
<body>
    <div class="box">
        <div class="content">
            <div class="content-block about-content">
              <h2 class="title"><strong>关于高桥的博客</strong></h2>
              <p class="line-title">想要了解更多<span>高桥的博客？</span></p>
              <p>此博客是为了web前端设计而诞生</p>
            </div>
            <div class="content-block contact-content">
              <h2 class="title"><strong>联系技术博客</strong></h2>
              <p><span>QQ：</span>1453542087</p>
              <p><span>信箱：</span><a href="https://mail.qq.com/" target="_blank">1453542087@qq.com</a></p>
            </div>
        </div>
        <h2 class="note">留言本</h2>
        <div id="notebox">
          <div id="msg">
              <input type="text" id="msgInput" placeholder="请输入留言" />
              <input type="button" id="msgBtn" value="留言" />
          </div>
          <div id="notecontent">
              <ul></ul>
          </div>
          <div id="clear">
              <input type="button" id="clearAllBtn" value="清空所有" />
          </div>
      </div>
    </div>

</body>
</html>