<header class="header">

    <a href="#" class="logo"><span>高桥</span>的博客</a>

    <nav class="navbar">
        <a href="#/index">
            <i class="iconfont icon-shouye1"></i> 
            首页</a>
        <a href="#/doList">
            <i class="iconfont icon-tushu"></i>
            推荐博文</a>
        <a href="#/contact">
            <i class="iconfont icon-shouye"></i>
            联系我</a>
    </nav>
    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
    </div>

</header>

<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_2500085_z0gxgsloh9.css">