<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script> -->
  <script src="../js/main.js"></script>
  <title>首页 - 博客</title>
</head>

<body>
<section class="banner" id="banner">

    <div class="content">
        <h3>欢迎来到我的博客</h3>
        <p>希望你在这有一段很棒的体验</p>
    </div>

</section>

<section class="container" id="posts">

    <div class="posts-container" id="posts_content">

        <!-- <div class="post">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>1st may, 2021</span>
            </div>
            <h3 class="title">blog title goes here</h3>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum molestias rerum numquam, quos aut est culpa quisquam excepturi sed a inventore dicta tempore consequuntur possimus magnam corporis cum doloremque quasi fugiat exercitationem aliquid cupiditate pariatur. Dolor laboriosam voluptatem ex praesentium magni error debitis maxime alias autem distinctio. Fuga, esse velit!</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, reiciendis fugiat quas nemo quia omnis repellat obcaecati quaerat voluptates fuga error dicta cupiditate pariatur soluta dolorum quis eum quibusdam quam?</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>by 夏梦</span>
                </a>
                <a href="edit.html" class="icon">
                  <i class="iconfont icon-xiugai"></i>
                  <span>修改</span>
              </a>
              <a href="delete.html" class="icon">
                  <i class="iconfont icon-shanchu"></i>
                  <span>删除</span>
              </a>
            </div>
        </div> -->
    </div>

    <div class="sidebar">

        <div class="box">
            <h3 class="title">关于我</h3>
            <div class="about">
                <img src="../img/user.jpg" alt="">
                <h3>高桥夏梦</h3>
                <p>每天都在努力摸鱼</p>
            </div>
        </div>

        <div class="box">
            <h3 class="title">
              <i class="iconfont icon-read"></i>
              博文操作</h3>
            <div class="change">
                <a href="#/new">新增博文</a>
            </div>
        </div>

    </div>

</section>
</body>
</html>


