<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/new.css">
    <script src="../jquery.min.js"></script>
    <script src="../js/new.js"></script>
    <title>增加博文</title>
</head>
<body>
    <form id="postInfo">
        <div class="box">
            <div class="bt">新增博客</div>
            <div class="title">title
                <input type="text" class="title1" id="title_s" value="" />
            </div>
            <div class="body">body
                <textarea class="body1" type="text" id="content_s"></textarea>
            </div>
            <div class="date">上交日期
                <input type="text" class="date1" id="date_s" value="" />
            </div>
            <input class="submit" type="submit" id="submit" value="提交">
        </div>
    </form>
    <script>
        $("#submit").click(function(){
            var formObject = {};
            var formArray = $("#postInfo").serializeArray();
            $.each(formArray,function(i,item){
                formObject[item.name]=item.value;
            });
            $.ajax({
                type:"get",
                url:"../data/posts.json",
                dataType:'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(formObject),
                success: function(data){
                    alert("提交成功");
                },
                error: function(){
                    alert("提交失败");
                }
            })
        })
    </script>
</body>
</html>