<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/new.css">
    <script src="../jquery.min.js"></script>
    <script src="../js/new.js"></script>
    <title>增加博文</title>
</head>
<body>
    <form method="post" id="postInfo">
        <div class="box">
            <div class="bt">新增博客</div>
            <div class="title">title
                <input type="text" class="title1" id="title" value="" />
            </div>
            <div class="body">body
                <textarea class="body1" type="text" id="content" value=""></textarea>
            </div>
            <div class="date">上交日期
                <input type="text" class="date1" id="createdtime" value="" placeholder="xxxx-xx-xx"/>
            </div>
            <input class="submit" type="button" id="submit"onclick="newText()" value="提交">
        </div>
    </form>
</body>
</html>